<template>
    <AppLayout>
        <router-view />
    </AppLayout>
</template>
<script>
import AppLayout from "./layouts/app.vue";
export default {
    components: {
        AppLayout,
    },
};
</script>
