<template>
    <div>
        <!-- top hero -->
        <section
            class="page-title"
            style="background-image: url(assets/images/10.jpg)"
        >
            <div class="auto-container">
                <h3>Hand-Crafted Dishes Sourced</h3>
                <h2>Check Out</h2>
            </div>
        </section>
        <!-- payment tab -->
        <section class="pt-3 pb-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="checkout_left">
                            <div class="card newaddress">
                                <div class="card-header fw-bold text-red">
                                    DELIVERY ADDRESS
                                </div>
                                <div class="card-body d-flex-row">
                                    <div class="addresss1">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div
                                                    class="bg-light p-3 rounded-3"
                                                >
                                                    <blockquote
                                                        class="blockquote mb-2 pb-2"
                                                    >
                                                        <p
                                                            class="mb-0 fw-bold fs-6"
                                                        >
                                                            Delivery
                                                            Address<span>
                                                                |
                                                                <a
                                                                    href=""
                                                                    class="text-red"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#deliveryModal"
                                                                    ><small>
                                                                        Add New
                                                                        Address
                                                                    </small></a
                                                                ></span
                                                            >
                                                        </p>
                                                    </blockquote>
                                                    <p class="fw-bold">
                                                        Attention: Club
                                                        Secretary P O Box 3354
                                                        South Mailing Centre
                                                        Ridge Heights
                                                        Madeupville MA 60010 USA
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mt-3">
                                <div class="card-header fw-bold text-red">
                                    Delivery Date and Time
                                </div>
                                <div class="card-body d-flex-row">
                                    <div class="addresss1">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-check">
                                                    <input
                                                        class="form-check-input"
                                                        type="radio"
                                                        name="flexRadioDefault"
                                                        id="flexRadioDefault1"
                                                    />
                                                    <label
                                                        class="form-check-label"
                                                        for="flexRadioDefault1"
                                                    >
                                                        As Soon as Possible
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input
                                                        class="form-check-input"
                                                        type="radio"
                                                        name="flexRadioDefault"
                                                        id="flexRadioDefault1"
                                                    />
                                                    <label
                                                        class="form-check-label"
                                                        for="flexRadioDefault1"
                                                    >
                                                        Schedule Delivery For
                                                        Later Date/Time
                                                    </label>
                                                </div>

                                                <div class="bg-light p-3 mt-3">
                                                    <div class="form-details">
                                                        <div
                                                            class="row text-start"
                                                        >
                                                            <div
                                                                class="col-md-6"
                                                            >
                                                                <div
                                                                    class="fw-bold"
                                                                >
                                                                    <label
                                                                        for=""
                                                                        >Date</label
                                                                    >
                                                                    <div
                                                                        class="input-group mb-3"
                                                                    >
                                                                        <input
                                                                            type="date"
                                                                            class="form-control"
                                                                            placeholder=""
                                                                        />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="col-md-6"
                                                            >
                                                                <div
                                                                    class="fw-bold"
                                                                >
                                                                    <label
                                                                        for=""
                                                                        >Time</label
                                                                    >
                                                                    <div
                                                                        class="input-group mb-3"
                                                                    >
                                                                        <input
                                                                            type="time"
                                                                            class="form-control"
                                                                            placeholder=""
                                                                        />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mt-3">
                                <div class="card-header fw-bold text-red">
                                    Payment Options
                                </div>
                                <div class="card-body d-flex-row">
                                    <div class="addresss1">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-check">
                                                            <input
                                                                class="form-check-input"
                                                                type="radio"
                                                                name="flexRadioDefault"
                                                                id="flexRadioDefault1"
                                                            />
                                                            <label
                                                                class="form-check-label"
                                                                for="flexRadioDefault1"
                                                            >
                                                                Cash On Delivery
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-check">
                                                            <input
                                                                class="form-check-input"
                                                                type="radio"
                                                                name="flexRadioDefault"
                                                                id="flexRadioDefault1"
                                                            />
                                                            <label
                                                                class="form-check-label"
                                                                for="flexRadioDefault1"
                                                            >
                                                                Paypal
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="bg-light p-3 mt-3">
                                                    <div class="form-details">
                                                        <div
                                                            class="row text-start"
                                                        >
                                                            <div
                                                                class="col-md-6"
                                                            >
                                                                <div
                                                                    class="fw-bold"
                                                                >
                                                                    <label
                                                                        for=""
                                                                        >Date</label
                                                                    >
                                                                    <div
                                                                        class="input-group mb-3"
                                                                    >
                                                                        <input
                                                                            type="date"
                                                                            class="form-control"
                                                                            placeholder=""
                                                                        />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="col-md-6"
                                                            >
                                                                <div
                                                                    class="fw-bold"
                                                                >
                                                                    <label
                                                                        for=""
                                                                        >Time</label
                                                                    >
                                                                    <div
                                                                        class="input-group mb-3"
                                                                    >
                                                                        <input
                                                                            type="time"
                                                                            class="form-control"
                                                                            placeholder=""
                                                                        />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div
                                        class="mybtn d-flex justify-content-between align-items-start mt-3"
                                    >
                                        <router-link
                                            to="/"
                                            class="text-custom-white rectangle-tag bg-red"
                                        >
                                            Back
                                        </router-link>
                                        <button
                                            type="button"
                                            @click="postCheckout"
                                            class="text-custom-white rectangle-tag bg-success ms-3"
                                        >
                                            Continue
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div
                                class="card-header padding-15 bg-white fw-bold"
                            >
                                Your Order
                            </div>
                            <div class="card-body no-padding">
                                <div class="card_price">
                                    <div
                                        v-for="(item, index) in getCartItems"
                                        :key="index"
                                        class="cat-product-box"
                                    >
                                        <div class="cat-product">
                                            <div class="cat-name">
                                                <a href="#">
                                                    <p class="text-light-green">
                                                        <span
                                                            class="text-dark-white"
                                                            >{{
                                                                index + 1
                                                            }}</span
                                                        >
                                                        {{ item.name }}
                                                    </p>
                                                    <span
                                                        class="text-light-white"
                                                        >{{
                                                            item.category
                                                        }}</span
                                                    >
                                                </a>
                                            </div>
                                            <div class="delete-btn">
                                                <a
                                                    href="#"
                                                    @click="removeItem(item)"
                                                    class="text-dark-white"
                                                >
                                                    <i
                                                        class="far fa-trash-alt"
                                                    ></i>
                                                </a>
                                            </div>
                                            <div class="price">
                                                <a
                                                    href="#"
                                                    class="text-dark-white fw-500"
                                                >
                                                    ${{ item.price }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-total">
                                    <div
                                        class="total-price border-top d-flex align-items-start justify-content-between"
                                    >
                                        <span class="text-dark-white fw-700"
                                            >Items subtotal:</span
                                        >
                                        <span class="text-dark-white fw-700"
                                            >${{ getCartTotalPrice }}</span
                                        >
                                    </div>

                                    <div
                                        class="total-price border-top d-flex align-items-start justify-content-between"
                                    >
                                        <span class="text-dark-white fw-700"
                                            >Service Charge:</span
                                        >
                                        <span class="text-dark-white fw-700"
                                            >$9.99</span
                                        >
                                    </div>
                                    <div
                                        class="total-price border-top d-flex align-items-start justify-content-between"
                                    >
                                        <span class="text-dark-white fw-700"
                                            >VAT:</span
                                        >
                                        <span class="text-dark-white fw-700"
                                            >$9.99</span
                                        >
                                    </div>
                                    <div
                                        class="total-price border-top d-flex align-items-start justify-content-between"
                                    >
                                        <span class="text-dark-white fw-700"
                                            >Delivery Charge:</span
                                        >
                                        <span class="text-dark-white fw-700"
                                            >TBD</span
                                        >
                                    </div>
                                    <div
                                        class="total-price border-top d-flex align-items-start justify-content-between"
                                    >
                                        <span class="text-red fw-bold"
                                            >Grand Total:</span
                                        >
                                        <span class="text-red fw-bold"
                                            >$400.00</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <AddAddressModal />
    </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

import AddAddressModal from "../components/modals/addAddress.vue";
export default {
    computed: {
        ...mapGetters([
            "getCartItems",
            "getCartTotalPrice",
            "getCartLength",
            "isAuthenticated",
        ]),
    },
    methods: {
        ...mapActions(["removeFoodFromCart"]),
        removeItem(item) {
            this.removeFoodFromCart(item);
        },
        postCheckout() {
            //check if cart items exist
            if (this.getCartLength) {
                //check if authenticated
                if (this.isAuthenticated) {
                    //confirm message
                    this.confirmSwal(
                        "Are you sure to continue checkout?",
                        "warning",
                        "Proceed"
                    ).then((status) => {
                        if (status.isConfirmed) {
                        }
                    });
                } else {
                    //confirm message for login
                    this.confirmSwal(
                        "You are not logged in",
                        "warning",
                        "Login Now"
                    ).then((status) => {
                        if (status.isConfirmed) {
                            this.$router.push({
                                path: "login",
                                query: {
                                    returnUrl: "checkout",
                                },
                            });
                        }
                    });
                }
            } else {
                this.confirmSwal("Please add items to the cart", "info").then(
                    (status) => {
                        if (status.isConfirmed) {
                            this.$router.push("/");
                        }
                    }
                );
            }
        },
    },
    components: {
        AddAddressModal,
    },
};
</script>
