<template>
    <div>
        <!-- hero section -->

        <TopSlider />

        <!-- vertical tab -->
        <section class="pt-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-vertical">
                            <div class="tab_color1">
                                <ul
                                    id="tabs"
                                    class="nav nav-tabs border-0"
                                    role="tablist"
                                >
                                    <li
                                        v-for="(cat, i) in categories"
                                        :key="i"
                                        class="nav-item"
                                        role="presentation"
                                    >
                                        <a
                                            class="nav-link text-center shadow"
                                            :class="
                                                activeCategory == cat.name
                                                    ? 'active'
                                                    : ''
                                            "
                                            @click="fetchFoodItems(cat)"
                                            role="tab"
                                            aria-controls="home"
                                            aria-selected="true"
                                        >
                                            {{ cat.name }}</a
                                        >
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content border-0 pt-3">
                                <div
                                    class="tab-pane fade show active"
                                    role="tabpanel"
                                    aria-labelledby="food-list-tab"
                                >
                                    <div class="card rounded-0">
                                        <div class="card-body">
                                            <div
                                                class="d-flex justify-content-between"
                                            >
                                                <div
                                                    class="section-header-left mb-3"
                                                >
                                                    <h4
                                                        class="text-dark header-title fw-bold"
                                                    >
                                                        {{ activeCategory }}
                                                    </h4>
                                                </div>
                                                <form class="d-flex g-0">
                                                    <input
                                                        class="form-control rounded-0"
                                                        type="search"
                                                        placeholder="Search"
                                                        aria-label="Search"
                                                    />
                                                    <button
                                                        class="btn btn-success rounded-0"
                                                        type="submit"
                                                    >
                                                        Search
                                                    </button>
                                                </form>
                                            </div>

                                            <!-- food card -->
                                            <div
                                                class="row mt-4"
                                                v-if="foodItems.length"
                                            >
                                                <div
                                                    v-for="(
                                                        item, index
                                                    ) in foodItems"
                                                    :key="index"
                                                    class="col-lg-4 col-md-6 col-sm-6"
                                                >
                                                    <FoodCard :item="item" />
                                                </div>
                                            </div>
                                            <div class="row mt-4" v-else>
                                                <div
                                                    class="col-sm-12 text-center"
                                                >
                                                    No data available
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import TopSlider from "../components/TopSlider.vue";
import FoodCard from "../components/Food/FoodCard.vue";
export default {
    components: {
        TopSlider,
        FoodCard,
    },
    data() {
        return {
            activeCategory: "",
            categories: [],
            foodItems: [],
        };
    },
    mounted() {
        axios
            .get("api/category/home")
            .then((res) => {
                this.categories = res.data;

                this.fetchFoodItems(this.categories[0]);
            })
            .catch((err) => {});
    },
    methods: {
        fetchFoodItems(category) {
            if (category) {
                this.activeCategory = category.name;

                /* fetch food items of selected category */

                axios
                    .get(`api/category/${category.id}/foods`)
                    .then((res) => {
                        this.foodItems = res.data;
                    })
                    .catch((err) => {});
            }
        },
    },
};
</script>
