<template>
    <div>
        <!-- navbar -->
        <Navbar />
        <section class="bg1 pt-8">
            <div class="container">
                <div class="flip-container login">
                    <div class="flipper" id="flipper">
                        <div class="front">
                            <div class="panel border bg-white">
                                <div class="panel-heading">
                                    <h3 class="pt-3 font-weight-bold">Login</h3>
                                </div>
                                <div class="panel-body p-3">
                                    <form @submit.prevent="loginUser">
                                        <div class="form-group py-2">
                                            <div class="input-field">
                                                <span
                                                    class="far fa-user p-2"
                                                ></span>
                                                <input
                                                    type="text"
                                                    placeholder="Email"
                                                    required
                                                    v-model="form.login.email"
                                                    @input="
                                                        validateEmail('login')
                                                    "
                                                />
                                            </div>
                                            <small
                                                class="invalid-feedback d-block"
                                                >{{
                                                    errorMessage.login.email
                                                }}</small
                                            >
                                        </div>
                                        <div class="form-group py-1 pb-2">
                                            <div class="input-field">
                                                <span
                                                    class="fas fa-lock px-2"
                                                ></span>
                                                <input
                                                    :type="
                                                        hideLoginPassword
                                                            ? 'password'
                                                            : 'text'
                                                    "
                                                    placeholder="Enter your Password"
                                                    required
                                                    v-model="
                                                        form.login.password
                                                    "
                                                    @input="
                                                        validatePassword(
                                                            'login'
                                                        )
                                                    "
                                                />
                                                <button
                                                    class="btn bg-white text-muted"
                                                    type="button"
                                                    @click="
                                                        hideLoginPassword =
                                                            !hideLoginPassword
                                                    "
                                                >
                                                    <span
                                                        v-if="hideLoginPassword"
                                                        class="far fa-eye-slash"
                                                    ></span>
                                                    <span
                                                        v-else
                                                        class="far fa-eye"
                                                    ></span>
                                                </button>
                                            </div>
                                            <small
                                                class="invalid-feedback d-block"
                                                >{{
                                                    errorMessage.login.password
                                                }}</small
                                            >
                                        </div>
                                        <div
                                            class="d-flex align-items-center view_btn mt-4"
                                        >
                                            <button
                                                type="submit"
                                                class="btn btn-raised shadow my-button w-xs justify-content-center"
                                            >
                                                Login
                                            </button>
                                        </div>
                                        <div
                                            class="text-center pt-4 text-muted"
                                        >
                                            Don't have an account?
                                            <a
                                                @click="flipForm"
                                                class="flipbutton"
                                                id="loginButton"
                                                href="#"
                                                >Sign up</a
                                            >
                                        </div>
                                    </form>
                                </div>
                                <div class="mx-3 my-2 py-2 bordert">
                                    <div class="text-center py-3">
                                        <a
                                            href="https://wwww.facebook.com"
                                            target="_blank"
                                            class="px-2"
                                        >
                                            <img
                                                src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg"
                                                alt=""
                                            />
                                        </a>
                                        <a
                                            href="https://www.google.com"
                                            target="_blank"
                                            class="px-2"
                                        >
                                            <img
                                                src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png"
                                                alt=""
                                            />
                                        </a>
                                        <a
                                            href="https://www.github.com"
                                            target="_blank"
                                            class="px-2"
                                        >
                                            <img
                                                src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png"
                                                alt=""
                                            />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="back">
                            <div class="panel border bg-white">
                                <div class="panel-heading">
                                    <h3 class="pt-3 font-weight-bold">
                                        Register
                                    </h3>
                                </div>
                                <div class="panel-body p-3">
                                    <form @submit.prevent="registerUser">
                                        <div class="form-group py-2">
                                            <div class="input-field">
                                                <span
                                                    class="far fa-user p-2"
                                                ></span>
                                                <input
                                                    type="text"
                                                    placeholder="First Name"
                                                    required
                                                    v-model="
                                                        form.register.firstName
                                                    "
                                                />
                                            </div>
                                            <small
                                                class="invalid-feedback d-block"
                                                >{{
                                                    errorMessage.register
                                                        .firstName
                                                }}</small
                                            >
                                        </div>
                                        <div class="form-group py-2">
                                            <div class="input-field">
                                                <span
                                                    class="far fa-user p-2"
                                                ></span>
                                                <input
                                                    type="text"
                                                    placeholder="Last Name"
                                                    required
                                                    v-model="
                                                        form.register.lastName
                                                    "
                                                />
                                            </div>
                                            <small
                                                class="invalid-feedback d-block"
                                                >{{
                                                    errorMessage.register
                                                        .lastName
                                                }}</small
                                            >
                                        </div>
                                        <div class="form-group py-2">
                                            <div class="input-field">
                                                <span
                                                    class="far fa-envelope p-2"
                                                ></span>
                                                <input
                                                    type="text"
                                                    placeholder="Email Address"
                                                    required
                                                    v-model="
                                                        form.register.email
                                                    "
                                                    @input="
                                                        validateEmail(
                                                            'register'
                                                        )
                                                    "
                                                />
                                            </div>
                                            <small
                                                class="invalid-feedback d-block"
                                                >{{
                                                    errorMessage.register.email
                                                }}</small
                                            >
                                        </div>

                                        <div class="form-group py-1 pb-2">
                                            <div class="input-field">
                                                <span
                                                    class="fas fa-lock px-2"
                                                ></span>
                                                <input
                                                    :type="
                                                        hideRegisterPassword
                                                            ? 'password'
                                                            : 'text'
                                                    "
                                                    placeholder="Enter your Password"
                                                    required
                                                    v-model="
                                                        form.register.password
                                                    "
                                                    @input="
                                                        validatePassword(
                                                            'register'
                                                        )
                                                    "
                                                />
                                                <button
                                                    class="btn bg-white text-muted"
                                                    type="button"
                                                    @click="
                                                        hideRegisterPassword =
                                                            !hideRegisterPassword
                                                    "
                                                >
                                                    <span
                                                        v-if="
                                                            hideRegisterPassword
                                                        "
                                                        class="far fa-eye-slash"
                                                    ></span>
                                                    <span
                                                        v-else
                                                        class="far fa-eye"
                                                    ></span>
                                                </button>
                                            </div>
                                            <small
                                                class="invalid-feedback d-block"
                                                >{{
                                                    errorMessage.register
                                                        .password
                                                }}</small
                                            >
                                        </div>
                                        <div class="form-group py-1 pb-2">
                                            <div class="input-field">
                                                <span
                                                    class="fas fa-lock px-2"
                                                ></span>
                                                <input
                                                    :type="
                                                        hideRegisterpassword_confirmation
                                                            ? 'password'
                                                            : 'text'
                                                    "
                                                    placeholder="Enter Confirm Password"
                                                    required
                                                    v-model="
                                                        form.register
                                                            .password_confirmation
                                                    "
                                                    @input="
                                                        validatepassword_confirmation
                                                    "
                                                />
                                                <button
                                                    class="btn bg-white text-muted"
                                                    type="button"
                                                    @click="
                                                        hideRegisterpassword_confirmation =
                                                            !hideRegisterpassword_confirmation
                                                    "
                                                >
                                                    <span
                                                        v-if="
                                                            hideRegisterpassword_confirmation
                                                        "
                                                        class="far fa-eye-slash"
                                                    ></span>
                                                    <span
                                                        v-else
                                                        class="far fa-eye"
                                                    ></span>
                                                </button>
                                            </div>
                                            <small
                                                class="invalid-feedback d-block"
                                                >{{
                                                    errorMessage.register
                                                        .password_confirmation
                                                }}</small
                                            >
                                        </div>
                                        <div
                                            class="d-flex align-items-center view_btn mt-4"
                                        >
                                            <button
                                                type="submit"
                                                class="btn btn-raised shadow my-button w-xs justify-content-center"
                                            >
                                                Register
                                            </button>
                                        </div>
                                        <div
                                            class="text-center pt-4 text-muted"
                                        >
                                            Already have an account?
                                            <a
                                                @click="flipForm"
                                                class="flipbutton"
                                                id="registerButton"
                                                href="#"
                                                >Sign in</a
                                            >
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
import { mapActions } from "vuex";
import Navbar from "../components/partials/Navbar";
import { useToast } from "vue-toastification";
export default {
    components: {
        Navbar,
    },
    setup() {
        // Get toast interface
        const toast = useToast();
        return { toast };
    },
    data() {
        return {
            form: {
                login: {
                    email: "",
                    password: "",
                },
                register: {
                    firstName: "",
                    lastName: "",
                    email: "",
                    password: "",
                    password_confirmation: "",
                },
            },
            errorMessage: {
                login: {
                    email: "",
                    password: "",
                },
                register: {
                    firstName: "",
                    lastName: "",
                    email: "",
                    password: "",
                    password_confirmation: "",
                },
            },
            hideLoginPassword: true,
            hideRegisterPassword: true,
            hideRegisterpassword_confirmation: true,
        };
    },
    methods: {
        ...mapActions(["setUser"]),
        loginUser() {
            const isEmpty = Object.values(this.errorMessage.login).every(
                (x) => x === ""
            );
            //no validation error
            if (isEmpty) {
                this.logging = true;
                axios
                    .post("api/login", this.form.login)
                    .then((res) => {
                        this.setUser(res.data);
                        this.toast.success("User logged in successfully");
                        this.clearForm();

                        if (this.$route.query.returnUrl) {
                            this.$router.push({
                                path: this.$route.query.returnUrl,
                            });
                        } else {
                            this.$router.push("/");
                        }
                    })
                    .catch((err) => {
                        if (err) {
                            let message = err.response.data.errors.message;
                            this.toast.error(message);
                        }
                    });
            }
        },
        registerUser() {
            const isEmpty = Object.values(this.errorMessage.register).every(
                (x) => x === ""
            );
            //no validation error
            if (isEmpty) {
                axios
                    .post("api/register", this.form.register)
                    .then((res) => {
                        this.toast.success(res.data.message);
                        this.flipForm();
                        this.clearForm();
                    })
                    .catch((err) => {
                        let errors = err.response.data.errors;
                        if (errors.email) {
                            this.toast.error(errors.email[0]);
                        }
                    });
            }
        },
        clearForm() {
            this.form = {
                login: {
                    email: "",
                    password: "",
                },
                register: {
                    firstName: "",
                    lastName: "",
                    email: "",
                    password: "",
                    password_confirmation: "",
                },
            };
        },
        flipForm() {
            document.querySelector("#flipper").classList.toggle("flip");
        },
        validateEmail(type) {
            let email = "";
            let errorMessage = "";
            if (type == "login") {
                email = this.form.login.email;
            } else {
                email = this.form.register.email;
            }
            if (
                !String(email)
                    .toLowerCase()
                    .match(
                        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    )
            ) {
                errorMessage = "Please enter a valid email address";
            } else {
                errorMessage = "";
            }

            if (type == "login") {
                this.errorMessage.login.email = errorMessage;
            } else {
                this.errorMessage.register.email = errorMessage;
            }
        },
        validatePassword(type) {
            let password = "";
            let errorMessage = "";
            if (type == "login") {
                password = this.form.login.password;
            } else {
                password = this.form.register.password;
            }
            if (!String(password).match(/^.{8,}$/)) {
                errorMessage = "Minimum of 8 characters required";
            } else {
                errorMessage = "";
            }
            if (type == "login") {
                this.errorMessage.login.password = errorMessage;
            } else {
            }
            this.errorMessage.register.password = errorMessage;
        },
        validatepassword_confirmation() {
            if (
                this.form.register.password !=
                this.form.register.password_confirmation
            ) {
                this.errorMessage.register.password_confirmation =
                    "Password donot match";
            } else {
                this.errorMessage.register.password_confirmation = "";
            }
        },
    },
};
</script>
