:root {
    --theme-color: #f9d342;
    --secondary-color: #bb0000;
    --dark-color: #222;
    --white-color: #fff;
    --bg-color: #f3f1f2;
    --light-blue: #eff6fd;
    --optionalColor: #333146;
    --whiteColor: #ffffff;
    --blackColor: #262E2E;
    --postcolor: #6a7a83;
    --fontSize: 16px;
    --transition: 0.5s;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}


/* clear fix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
    display: block;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #fff;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    margin-bottom: 0px;
}

p {
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #000;
}

img {
    width: 100%;
    overflow: hidden;
}


/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/

html,
body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

::selection {
    background: #4b8ef1;
    color: #fff !important;
}

::-moz-selection {
    background: #4b8ef1;
    color: #fff !important;
}

@media (max-width: 991px) {
    html,
    body {
        overflow-x: hidden;
    }
    .mobile-top-fix {
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .mobile-bottom-fix {
        margin-bottom: 30px;
    }
    .mobile-bottom-fix-big {
        margin-bottom: 60px;
    }
}

.section-heading {
    position: relative;
    z-index: 2;
}

.section-heading h4 {
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.section-heading h4 em {
    font-style: normal;
    color: #4b8ef1;
}

.section-heading img {
    width: 45px;
    height: 2px;
}

.section-heading p {
    margin-top: 10px;
}

.show-up {
    position: relative;
    z-index: 2;
}

.white-button a {
    display: inline-block !important;
    padding: 10px 20px !important;
    color: #4b8ef1 !important;
    text-transform: capitalize;
    font-size: 15px;
    background-color: #fff;
    border-radius: 23px;
    font-weight: 500 !important;
    letter-spacing: 0.3px !important;
    transition: all .5s;
}

.white-button a i {
    margin-left: 5px;
    font-size: 18px;
}

.white-button a:hover {
    background-color: #4b8ef1;
    color: #fff !important;
}

.text-button a {
    font-size: 15px;
}

.text-button a i {
    margin-left: 5px;
    font-size: 14px;
    transition: all .3s;
}

.text-button a:hover i {
    margin-left: 8px;
}

.gradient-button a {
    display: inline-block !important;
    padding: 10px 20px !important;
    color: #fff !important;
    text-transform: capitalize;
    font-size: 15px;
    background: rgb(19, 175, 240);
    background: linear-gradient(105deg, rgba(91, 104, 235, 1) 0%, rgba(40, 225, 253, 1) 100%);
    border-radius: 23px;
    font-weight: 500 !important;
    letter-spacing: 0.3px !important;
    transition: all .5s;
}

.gradient-button a:hover {
    color: #fff !important;
    background: rgb(19, 175, 240);
    background: linear-gradient(105deg, rgba(91, 104, 235, 1) 0%, rgba(40, 225, 253, 1) 100%);
}

.border-button a {
    display: inline-block !important;
    padding: 10px 20px !important;
    color: #4b8ef1 !important;
    border: 1px solid #4b8ef1;
    text-transform: capitalize;
    font-size: 15px;
    display: inline-block;
    background-color: #fff;
    border-radius: 23px;
    font-weight: 500 !important;
    letter-spacing: 0.3px !important;
    transition: all .5s;
}

.border-button a:hover {
    background-color: #4b8ef1;
    color: #fff !important;
}


/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/

.js-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.js-preloader.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@-webkit-keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@-webkit-keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

@keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

.preloader-inner {
    position: relative;
    width: 142px;
    height: 40px;
    background: #fff;
}

.preloader-inner .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    background: #4b8ef1;
    border-radius: 50%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: dot 2.8s infinite;
    animation: dot 2.8s infinite;
}

.preloader-inner .dots {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    -webkit-animation: dots 2.8s infinite;
    animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    background: #4b8ef1;
    border-radius: 50%;
}

a.navbar-brand {
    width: 9%;
}

.tab_color1 {
    background: var(--theme-color);
    padding: 13px;
    border-radius: 10px;
}

.tab-vertical .nav-tabs .nav-link {
    margin-bottom: -1px;
    border-radius: 15px;
}

.tab-vertical .nav-tabs .nav-link {
    margin-bottom: -1px;
    border-radius: 10px;
    color: #000!important;
    background-color: #eee !important;
    border: none;
    text-align: center;
    font-weight: 500;
}

.tab-vertical li.nav-item {
    padding-right: 10px;
    /* padding-bottom: 10px; */
}

.tab-vertical li.nav-item a i {
    background: #fff;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin: auto;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    color: #b00;
    line-height: 47px;
    position: relative;
    top: -17px;
    font-size: 29px;
    border: 1px solid #3e40bf;
}

.tab-vertical .nav-link.active i {
    background: #3e40bf;
    color: #fff;
    border-color: #fff;
}

.tab-vertical .nav-link {
    display: block;
    padding: 6px 16px;
    font-size: 14px;
    /* width: 100px; */
}

.tab-vertical .nav-link.active {
    color: #fff !important;
    background-color: var(--secondary-color) !important;
    border: 1px solid #fff;
}

.product-box {
    position: relative;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 0 1px rgb(67 41 163 / 8%), 0 1px 5px 0 rgb(67 41 163 / 8%);
    margin-bottom: 30px;
}

.product-box .product-img {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.product-box .product-img .product-tags {
    display: flex;
    align-items: center;
    justify-content: start;
}

.p-10 {
    padding: 10px;
}

.product-box .product-img .product-tags>span:first-child {
    position: absolute;
    top: 10px;
    right: 10px;
}

span.circle-tag {
    height: 36px;
    width: 36px;
    background: #fff;
    border-radius: 50%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

span.circle-tag>img {
    padding: 8px;
}

.product-box .product-img .product-tags .custom-tag,
.product-box .product-img .product-tags {
    display: flex;
    align-items: center;
    justify-content: start;
}

.text-custom-white {
    color: #ffffff;
}

.bg-gradient-red {
    background-image: linear-gradient(to right, #f20000, #a20000);
}

.text-red {
    color: var(--secondary-color);
}

.product-box .product-caption {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
    width: 100%;
}

.product-box .product-caption .title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.product-box .product-caption .product-title {
    margin-bottom: 0px;
    font-size: 14px;
}

.text-light-black {
    color: #000000de;
}

.rectangle-tag {
    height: 30px;
    width: auto;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    letter-spacing: 2px;
    padding: 0 8px;
}

.product-box-3 .product-caption,
.product-box .product-caption {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
    width: 100%;
}

.product-box .product-caption p {
    font-size: 12px;
}

.text-light-white {
    color: #6b6b83;
}

.product-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.product-box .product-caption .product-details span {
    display: block;
    line-height: normal;
}

.text-light-black {
    color: #000000de;
}

.product-box .product-caption .product-details span {
    display: block;
    line-height: normal;
    font-size: 14px;
}

.text-light-white {
    color: #6b6b83;
}

.text-yellow {
    color: #fcb71b;
}

.bg-red {
    background-color: var(--secondary-color);
}

.product-details span {
    display: block;
    line-height: normal;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.padding-15 {
    padding: 15px;
}

.no-padding {
    padding: 0;
}

.cat-product {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.cat-name {
    font-size: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cat-name a p {
    margin-bottom: 0px;
    font-weight: 600;
}

.text-light-green {
    color: var(--secondary-color);
}

.cat-name a p span {
    margin-right: 10px;
}

.text-dark-white {
    color: #000;
    font-weight: 600;
}

.text-light-white {
    color: #6b6b83;
}

.delete-btn i {
    font-size: 12px;
    color: var(--secondary-color);
}

.fw-500 {
    font-weight: 500;
}

.total-price {
    padding: 15px;
}

.text-custom-white {
    color: #ffffff;
}

.green-btn {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-first {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    /* background-color: transparent; */
    /* border: 1px solid transparent; */
    padding: 6px 16px 5px;
    font-size: 13px;
    line-height: 1.595;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.full-width {
    width: 100%;
}

.green-btn:hover,
.green-btn:focus {
    border-color: #ff0018;
    background: #fff;
    color: #ff0018;
    border: 1px solid;
}

.cart-btn>a {
    padding: 14px 0;
    justify-content: center;
    z-index: 1;
    display: flex;
    align-items: center;
}

.cart-btn a i {
    font-size: 30px;
}

.user-alert-cart {
    height: 18px;
    right: 6px;
}

span.user-alert-cart {
    background: #198754;
    color: #fff;
    position: absolute;
    border-radius: 50%;
    right: auto;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 6px;
    line-height: normal;
    font-size: 10px;
    top: 31px;
    margin-left: 22px;
}


/* delivery tab */

.del_address .nav-tabs .nav-link.active {
    border-color: transparent;
    background-color: #fff !important;
    color: #9a1550 !important;
    border-bottom: 4px solid #9a1550 !important
}

.del_address .nav-fill .nav-item .nav-link,
.del_address .nav-justified .nav-item .nav-link {
    width: 100%;
    color: #000
}

.del_address .nav-tabs .nav-link {
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important
}

.del_address .nav-tabs .nav-link.active {
    border-color: transparent;
    background-color: #60D0FF;
    color: #fff;
    font-weight: 600
}

.del_address .nav-link {
    height: 77px;
    font-size: 13px;
    background-color: #fff
}

.del_address .nav-link:hover {
    border: none
}

.del_address .nav-link:focus {
    outline: none
}

.del_address .tab-pane {
    height: 300px
}

.proceed_now {
    right: 29px;
    width: 354px;
    margin-left: auto;
    bottom: 4px;
}

.card_price {
    height: 227px;
    overflow-y: scroll;
}

.card_price::-webkit-scrollbar {
    width: 8px;
}

.card_price::-webkit-scrollbar-track {
    width: 50px;
}

.card_price::-webkit-scrollbar-thumb {
    border-radius: 50px;
}

.card_price::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #1f2060;
}


/* payment */

.card_pay .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #039be5;
    outline: 0;
    box-shadow: none
}

.card_pay .input {
    position: relative
}

.card_pay .input i {
    position: absolute;
    top: 16px;
    left: 11px;
    color: #989898
}

.card_pay .input input {
    text-indent: 25px
}

.card_pay .card-text {
    font-size: 13px;
    margin-left: 6px
}

.card_pay .certificate-text {
    font-size: 12px
}

.card_pay .billing {
    font-size: 11px
}

.card_pay .super-price {
    top: 0px;
    font-size: 22px
}

.card_pay .super-month {
    font-size: 11px
}

.card_pay .line {
    color: #bfbdbd
}

.card_pay .free-button {
    background: #1565c0;
    height: 52px;
    font-size: 15px;
    border-radius: 8px
}

.card_pay .payment-card-body {
    flex: 1 1 auto;
    padding: 24px 1rem !important
}

.card_pay label {
    text-align: left;
}

.icons img {
    width: 95px;
}

.card_pay .card {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: none
}


/* counter */

.sign {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 3px;
}

.sign span {
    height: 18px;
    width: 18px;
    /* padding: 6px; */
    background-color: #28a745;
    display: flex;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sign small {
    font-weight: 700;
    margin-top: -14px;
    margin-right: 4px;
    height: 2px;
    width: 2px
}

.pt-8 {
    padding-top: 8em;
}


/* topbar */

.address-icon.align-middle {
    border: 2px solid #bb0000;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    text-align: center;
}

.address-icon i {
    color: #bb0000;
    font-size: 30px;
    line-height: 45px;
}

.address-text {
    font-weight: 600;
    color: #bb0000;
    font-size: 15px;
}


/* breadcrumb */

.page-title {
    position: relative;
    padding: 202px 0px;
    text-align: center;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-title:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.60);
}

.page-title h3 {
    position: relative;
    color: #feb518;
    font-size: 32px;
    font-family: 'Dancing Script', cursive;
}

.page-title h2 {
    position: relative;
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}


/* login */


/* login page */

.flipper {
    padding: 30px;
    width: 500px;
    margin: auto;
    position: relative;
    border-radius: 20px;
    transition: all 0.6s ease 0s;
    transform-style: preserve-3d;
}

.front,
.back {
    position: absolute;
    padding: 10px 30px;
    left: 0px;
    right: 0px;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}

.flipbutton {
    color: rgb(64, 150, 238);
    text-decoration: none;
    text-align: left !important;
}

.login .panel-heading {
    text-align: center;
    margin-bottom: 10px;
}

.login #forgot {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
}

.login a:hover {
    text-decoration: none;
}

.login .form-inline label {
    padding-left: 10px;
    margin: 0px;
    cursor: pointer;
}

.login .btn.btn-primary {
    margin-top: 20px;
    border-radius: 15px;
}

.login .panel {
    min-height: 380px;
    box-shadow: rgb(218, 218, 218) 20px 20px 80px;
    border-radius: 12px;
}

.login .input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgb(221, 221, 221);
    color: rgb(67, 67, 255);
}

.login input[type="text"],
.login input[type="email"],
.login input[type="select"],
.login input[type="password"] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.login .fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none;
}

.login img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.login a[target="_blank"] {
    position: relative;
    transition: all 0.1s ease-in-out 0s;
}

.login .bordert {
    border-top: 1px solid rgb(170, 170, 170);
    position: relative;
}

.login .bordert::after {
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 33%;
    background-color: rgb(255, 255, 255);
    padding: 0px 8px;
}

@media (max-width: 360px) {
    .login #forgot {
        margin-left: 0px;
        padding-top: 10px;
    }
    .login .bordert::after {
        left: 25%;
    }
}

.login .panel input {
    font-size: 14px;
}

.bg1 {
    height: 100vh;
    background: linear-gradient(to top, rgb(201, 201, 255) 50%, rgb(144, 144, 250) 90%) no-repeat;
}

.view_btn .btn {
    height: 33px;
    width: 140px;
    cursor: pointer;
    border: 2px solid rgb(164, 3, 1);
    color: rgb(255, 255, 255);
    background: rgb(164, 3, 1);
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    font-size: 15px;
    justify-content: center;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.carousel-item {
    height: 15rem;
    object-position: center top;
}

.carousel-item>img {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: 0px 100%;
}

@media (min-width: 1400px) {
    .carousel-item {
        height: 26em;
    }
    .carousel-item>img {
        height: 26em;
    }
}