<template>
    <footer class="main-footer">
        <div class="float-right d-none d-sm-block"><b>Version</b> 1.0.0</div>
        <strong
            >Copyright &copy; 2021
            <a href="https://volgai.com.au">VolgAI</a>.</strong
        >
        All rights reserved.
    </footer>
</template>
