<template>
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a
                    class="nav-link"
                    data-widget="pushmenu"
                    href="#"
                    role="button"
                    ><i class="fas fa-bars"></i
                ></a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    href="{{ route('frontend.index') }}"
                    role="button"
                    ><i class="fas fa-home mr-2"></i>Home</a
                >
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown user-menu">
                <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                >
                    <img
                        src="https://assets.infyom.com/logo/blue_logo_150x150.png"
                        class="user-image img-circle elevation-2"
                        alt="User Image"
                    />
                    <span class="d-none d-md-inline"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <!-- User image -->
                    <li class="user-header bg-primary">
                        <img
                            src="https://assets.infyom.com/logo/blue_logo_150x150.png"
                            class="img-circle elevation-2"
                            alt="User Image"
                        />
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                        <a
                            href="#"
                            class="btn btn-default btn-flat float-right"
                            onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
                        >
                        </a>
                        <form
                            id="logout-form"
                            action="{{ route('logout') }}"
                            method="POST"
                            class="d-none"
                        ></form>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</template>
