<template>
    <aside class="main-sidebar sidebar-dark-info elevation-4">
        <a href="" class="brand-link">
            <img
                src="https://assets.infyom.com/logo/blue_logo_150x150.png"
                alt=""
                class="brand-image img-circle elevation-3"
            />
            <span class="brand-text font-weight-light">RMS</span>
        </a>
        <div class="sidebar">
            <nav class="mt-2">
                <ul
                    id="navMenu"
                    class="nav nav-pills nav-sidebar flex-column"
                    data-widget="treeview"
                    role="menu"
                    data-accordion="true"
                >
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="nav-icon fas fa-laptop"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="nav-icon fas fa-building"></i>
                            <p>Restaurant</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>User</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="nav-icon fas fa-utensils"></i>
                            <p>Category</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="nav-icon fas fa-pizza-slice"></i>
                            <p>Product</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
</template>
