<template>
    <div class="product-box mb-xl-20">
        <a href="">
            <div class="product-img">
                <img
                    src="assets/images/food1.jpg"
                    class="img-fluid full-width"
                    alt="product-img"
                />

                <div class="overlay">
                    <div class="product-tags p-10">
                        <span class="circle-tag">
                            <img src="assets/images/heart.svg" alt="tag" />
                        </span>
                        <div class="custom-tag" v-if="item.discount">
                            <span
                                class="text-custom-white rectangle-tag bg-gradient-red"
                            >
                                {{ item.discount }}%
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <div class="product-caption">
            <div class="title-box">
                <h6 class="product-title">
                    <a href="" class="text-light-black"> {{ item.name }}</a>
                </h6>
                <div class="tags">
                    <span
                        class="text-custom-white rectangle-tag bg-red"
                        @click="addToCart(item)"
                    >
                        Add to Bag
                    </span>
                </div>
            </div>
            <p class="text-light-white">
                {{ item.category.name }}
            </p>
            <div class="product-details">
                <div class="price-time">
                    <span class="text-light-black time">30-40 min</span>
                    <span class="text-light-white price"
                        >${{ item.base_price }}
                    </span>
                </div>
                <div class="rating">
                    <span class="py-1">
                        <star-rating
                            v-model:rating="item.rating"
                            :star-size="17"
                            rounded-corners
                            :show-rating="false"
                        ></star-rating>
                    </span>
                    <span class="text-light-white text-right px-1"
                        >4225 ratings</span
                    >
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import StarRating from "vue-star-rating";
import { mapActions, mapGetters } from "vuex";
import { useToast } from "vue-toastification";
export default {
    props: ["item"],
    setup() {
        // Get toast interface
        const toast = useToast();
        return { toast };
    },
    components: {
        StarRating,
    },
    computed: {
        ...mapGetters(["getCartItems"]),
    },
    methods: {
        ...mapActions(["addFoodToCart"]),
        addToCart(item) {
            let food = {
                id: item.id,
                name: item.name,
                price: item.base_price,
                category: item.category.name,
            };

            let found = this.getCartItems.find((el) => el.id === food.id);

            if (found) {
                this.toast.info("Item already exist in the cart");
            } else {
                this.addFoodToCart(food);
                this.toast.success("Item added to cart");
            }
        },
    },
};
</script>
