<template>
    <footer class="bg-danger p-2">
        <div class="container">
            <!-- Bottom Credits -->
            <div class="col-md-12 text-center">
                <p class="fw-bold text-white">
                    COPYRIGHT © 2021 , Designed by
                    <a href="" class="text-dark">Volgai</a>
                </p>
            </div>
        </div>
        <!-- /container -->
        <!-- Go To Top Link -->
    </footer>
</template>
