<template>
    <header>
        <nav
            class="navbar navbar-expand-lg navbar-light bg-light p-0 fixed-top"
        >
            <div class="container">
                <router-link class="navbar-brand" to="/">
                    <img src="assets/images/logo.png" alt="" width="11%" />
                </router-link>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <NavbarContent />
            </div>
        </nav>
    </header>
</template>
<script>
import NavbarContent from "./NavbarContent.vue";
export default {
    components: {
        NavbarContent,
    },
};
</script>
