<template>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
            <li>
                <div class="topaddress">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="address-icon align-middle">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="address-text">
                                Find Us <br />
                                <small class="d-block text-muted">
                                    Suite2, Level 1, 144 Adelaide Street,
                                    Brisbane
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="topaddress">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="address-icon align-middle">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="address-text">
                                Call Us <br />
                                <small class="d-block text-muted">
                                    123456789 Brisbane
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="topaddress">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="address-icon align-middle">
                                <i
                                    class="fa fa-envelope"
                                    aria-hidden="true"
                                ></i>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="address-text">
                                Mail Us <br />
                                <small class="d-block text-muted">
                                    info@restro.com Brisbane
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- <form class="d-flex g-0">
                        <input class="form-control rounded-0" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success rounded-0" type="submit">Search</button>
                    </form> -->
        <div class="cart-btn ms-2 d-flex align-items-center me-3">
            <a
                href="#"
                class="text-light-green fw-700"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Cart"
            >
                <i class="fas fa-shopping-bag"></i>
                <span class="user-alert-cart">{{ getCartLength }}</span>
            </a>
        </div>
        <div class="card-btn ms-2 d-flex align-items-center">
            <a
                v-if="isAuthenticated"
                href="#"
                class="text-light-green fw-700"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Profile"
            >
                <i class="fas fa-user fa-2x"></i>
            </a>
            <router-link
                v-else
                to="/login"
                class="text-light-green fw-700"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Login"
            >
                <i class="fas fa-sign-in-alt fa-2x"></i>
            </router-link>
        </div>
    </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
    computed: {
        ...mapGetters(["getCartLength", "isAuthenticated"]),
    },
};
</script>
