<template>
    <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel"
    >
        <div class="offcanvas-header">
            <!-- <h5 id="offcanvasRightLabel">Offcanvas right</h5> -->
            <button
                type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
            ></button>
        </div>
        <div class="offcanvas-body">
            <div class="cart-detail-box">
                <div class="del_address">
                    <div class="bg-white">
                        <ul
                            class="nav nav-tabs nav-fill"
                            id="myTab"
                            role="tablist"
                        >
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link active"
                                    id="faq_tab_1-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#faq_tab_1"
                                    type="button"
                                    role="tab"
                                    aria-controls="faq_tab_1"
                                    aria-selected="true"
                                >
                                    <div class="d-flex flex-column lh-lg">
                                        <i class="fas fa-store"></i>
                                        <span>Pick Up</span>
                                    </div>
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link"
                                    id="faq_tab_2-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#faq_tab_2"
                                    type="button"
                                    role="tab"
                                    aria-controls="faq_tab_2"
                                    aria-selected="false"
                                >
                                    <div class="d-flex flex-column lh-lg">
                                        <i class="fas fa-map"></i>
                                        <span>Delivery</span>
                                    </div>
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div
                                class="tab-pane fade active show"
                                id="faq_tab_1"
                                role="tabpanel"
                                aria-labelledby="faq_tab_1-tab"
                            >
                                <div class="row">
                                    <div class="col-md-12 mt-3">
                                        <div class="card rounded-0 bg-light">
                                            <div class="card-body">
                                                <div
                                                    class="pickaddress fw-bold"
                                                >
                                                    <label for="Location"
                                                        >Location</label
                                                    >
                                                    <p
                                                        class="text-dark fw-bold"
                                                    >
                                                        <i
                                                            class="fas fa-map"
                                                        ></i>
                                                        Indian &amp; Nepalese
                                                        Restaurant<br />
                                                        <span class="pickloc"
                                                            ><small
                                                                >10/1-7
                                                                Maroondah Hwy
                                                                Croydon</small
                                                            ></span
                                                        >
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <div class="card rounded-0 bg-light">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div
                                                            class="pickdate fw-bold"
                                                        >
                                                            <label for=""
                                                                >Day</label
                                                            >
                                                            <div
                                                                class="input-group mb-3"
                                                            >
                                                                <select
                                                                    class="form-select form-control"
                                                                    id="inputGroupSelect02"
                                                                >
                                                                    <option
                                                                        selected
                                                                    >
                                                                        Sunday
                                                                    </option>
                                                                    <option
                                                                        value="1"
                                                                    >
                                                                        Monday
                                                                    </option>
                                                                    <option
                                                                        value="2"
                                                                    >
                                                                        Tuesday
                                                                    </option>
                                                                    <option
                                                                        value="3"
                                                                    >
                                                                        Wednesday
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div
                                                            class="pickdate fw-bold"
                                                        >
                                                            <label for=""
                                                                >Time</label
                                                            >
                                                            <div
                                                                class="input-group mb-3"
                                                            >
                                                                <select
                                                                    class="form-select form-control"
                                                                    id="inputGroupSelect02"
                                                                >
                                                                    <option
                                                                        selected
                                                                    >
                                                                        10:00
                                                                    </option>
                                                                    <option
                                                                        value="1"
                                                                    >
                                                                        13:00
                                                                    </option>
                                                                    <option
                                                                        value="2"
                                                                    >
                                                                        15:00
                                                                    </option>
                                                                    <option
                                                                        value="3"
                                                                    >
                                                                        17:00
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="tab-pane fade"
                                id="faq_tab_2"
                                role="tabpanel"
                                aria-labelledby="faq_tab_2-tab"
                            >
                                <div class="row">
                                    <div class="col-md-12 mt-3">
                                        <div class="card rounded-0 bg-light">
                                            <div class="card-body">
                                                <div
                                                    class="pickaddress fw-bold"
                                                >
                                                    <label for="Location"
                                                        >Location</label
                                                    >
                                                    <p
                                                        class="text-dark fw-bold"
                                                    >
                                                        <i
                                                            class="fas fa-map"
                                                        ></i>
                                                        Indian &amp; Nepalese
                                                        Restaurant<br />
                                                        <span class="pickloc"
                                                            ><small
                                                                >10/1-7
                                                                Maroondah Hwy
                                                                Croydon</small
                                                            ></span
                                                        >
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <div class="card rounded-0 bg-light">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div
                                                            class="pickdate fw-bold"
                                                        >
                                                            <label for=""
                                                                >Day</label
                                                            >
                                                            <div
                                                                class="input-group mb-3"
                                                            >
                                                                <select
                                                                    class="form-select form-control"
                                                                    id="inputGroupSelect02"
                                                                >
                                                                    <option
                                                                        selected
                                                                    >
                                                                        Sunday
                                                                    </option>
                                                                    <option
                                                                        value="1"
                                                                    >
                                                                        Monday
                                                                    </option>
                                                                    <option
                                                                        value="2"
                                                                    >
                                                                        Tuesday
                                                                    </option>
                                                                    <option
                                                                        value="3"
                                                                    >
                                                                        Wednesday
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div
                                                            class="pickdate fw-bold"
                                                        >
                                                            <label for=""
                                                                >Time</label
                                                            >
                                                            <div
                                                                class="input-group mb-3"
                                                            >
                                                                <select
                                                                    class="form-select form-control"
                                                                    id="inputGroupSelect02"
                                                                >
                                                                    <option
                                                                        selected
                                                                    >
                                                                        10:00
                                                                    </option>
                                                                    <option
                                                                        value="1"
                                                                    >
                                                                        13:00
                                                                    </option>
                                                                    <option
                                                                        value="2"
                                                                    >
                                                                        15:00
                                                                    </option>
                                                                    <option
                                                                        value="3"
                                                                    >
                                                                        17:00
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header padding-15 bg-white fw-bold">
                        Your Order
                    </div>
                    <div class="card-body no-padding">
                        <div class="card_price">
                            <div
                                v-for="(item, index) in getCartItems"
                                :key="index"
                                class="cat-product-box"
                            >
                                <div class="cat-product">
                                    <div class="cat-name">
                                        <a href="#">
                                            <p class="text-light-green">
                                                <span class="text-dark-white">{{
                                                    index + 1
                                                }}</span>
                                                {{ item.name }}
                                            </p>
                                            <span class="text-light-white">{{
                                                item.category
                                            }}</span>
                                        </a>
                                    </div>
                                    <div class="sign">
                                        <span
                                            class="p-1"
                                            id="minus"
                                            @click="decrementFoodItem(item)"
                                            ><i class="fa fa-minus"></i
                                        ></span>
                                        <small
                                            class="w-100 text-center"
                                            id="quantity"
                                            >{{ item.quantity }}</small
                                        >
                                        <span
                                            class="p-1"
                                            id="plus"
                                            @click="incrementFoodItem(item)"
                                            ><i class="fa fa-plus"></i
                                        ></span>
                                    </div>
                                    <div class="delete-btn">
                                        <a
                                            href="#"
                                            class="text-dark-white"
                                            @click="removeItem(item)"
                                        >
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </div>
                                    <div class="price">
                                        <a
                                            href="#"
                                            class="text-dark-white fw-500"
                                        >
                                            ${{ item.price }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-total">
                            <div
                                class="total-price border-top d-flex align-items-start justify-content-between"
                            >
                                <span class="text-dark-white fw-700"
                                    >Items subtotal:</span
                                >
                                <span class="text-dark-white fw-700"
                                    >${{ getCartTotalPrice }}</span
                                >
                            </div>
                        </div>
                    </div>
                    <div class="card-footer padding-15 bg-white border-0">
                        <button
                            data-bs-dismiss="offcanvas"
                            aria-label="Close"
                            :disabled="getCartLength == 0"
                            @click="checkout"
                            :class="
                                getCartLength == 0
                                    ? 'btn-disabled'
                                    : 'green-btn cursor-pointer'
                            "
                            class="btn-first text-custom-white full-width fw-500 proceed_now fixed-bottom"
                        >
                            Proceed to Checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
    computed: {
        ...mapGetters(["getCartItems", "getCartTotalPrice", "getCartLength"]),
    },
    methods: {
        ...mapActions([
            "removeFoodFromCart",
            "incrementFoodItem",
            "decrementFoodItem",
        ]),
        removeItem(item) {
            this.removeFoodFromCart(item);
        },
        checkout() {
            this.$router.push("/checkout");
        },
    },
};
</script>
<style scoped>
.btn-disabled {
    background-color: rgb(196, 192, 192);
}
.btn-disabled:hover {
    color: white;
    cursor: not-allowed;
}
</style>
