<template>
    <div
        class="modal fade"
        id="deliveryModal"
        tabindex="-1"
        aria-labelledby="deliveryModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deliveryModalLabel">
                        Add New Address
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="form-details">
                        <div class="row text-start">
                            <div class="col-md-6">
                                <div class="fw-bold">
                                    <label for="">First Name</label>
                                    <div class="input-group mb-3">
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="fw-bold">
                                    <label for="">Last Name</label>
                                    <div class="input-group mb-3">
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="fw-bold">
                                    <label for="">Location</label>
                                    <div class="input-group mb-3">
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6295.263353897531!2d145.149095!3d-37.915671!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad61539d11c3ae1%3A0xae5277c65b3f5!2sBuilding%204%2C%20Suite%2030%2F195%20Wellington%20Rd%2C%20Clayton%20VIC%203168%2C%20Australia!5e0!3m2!1sen!2snp!4v1639731336184!5m2!1sen!2snp"
                                    width="100%"
                                    height="450"
                                    style="border: 0"
                                    allowfullscreen=""
                                    loading="lazy"
                                ></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
