<template>
    <div>
        <Navbar />
        <main class="min-vh-100">
            <slot />
        </main>
        <Sidebar />
        <Footer />
    </div>
</template>
<script>
import Navbar from "../components/partials/admin/navbar.vue";
import Sidebar from "../components/partials/admin/sidebar.vue";
import Footer from "../components/partials/admin/footer.vue";
export default {
    components: {
        Sidebar,
        Navbar,
        Footer,
    },
};
</script>

<style scoped>
@import "https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/css/adminlte.min.css";
</style>
