<template>
    <div>
        <Navbar />
        <Sidebar />
        <slot />
        <Footer />
    </div>
</template>
<script>
import Navbar from "../components/partials/Navbar";
import Sidebar from "../components/partials/Sidebar";
import Footer from "../components/partials/Footer";
export default {
    components: {
        Navbar,
        Sidebar,
        Footer,
    },
};
</script>
